* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
  }


header {
    background-color: rgb(41, 44, 56);
    color: white;
    padding: 20px 0px;
    text-align: center;
}

.scoreArea {
    background-color: rgb(94, 100, 124);
    display: flex;
    flex-direction: column;
    text-align: center; 
    height: 500px;
}

.descArea {
    padding: 20px 0px;
    color: white;
}

.displayScore {
    display: flex;
    justify-content: space-evenly;
    margin: auto 0px;
}

.scoreBox {
    background-color: rgb(41, 44, 56);
    color: white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttonArea {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(41, 44, 56);
    padding: 20px 0px;
}